<!-- views/test.ejs -->
<!DOCTYPEhtml>
<htmllang="en">
<head>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	  <FORM METHOD="GET" ACTION="">
		<TABLE BORDER="1">
		  <TR>
			<TD>Imie</TD>
			<TD>
			  <INPUT TYPE="text" NAME="name" SIZE="20">
			</TD>
		  </TR>
		  <TR>
			<TD>Nazwisko</TD>
			<TD><INPUT TYPE="text" NAME="surname" SIZE="20"></TD>
		  </TR>
		  <TR>
			<TD>Przedmiot</TD>
			<TD><INPUT TYPE="text" NAME="subject" SIZE="20"></TD>
		  </TR>
	</TABLE>
	<table>
		<TABLE BORDER="1">
		  <tr>
		  <td>Z1</td>
		  <td>Z2</td>
		  <td>Z3</td>
		  <td>Z4</td>
		  <td>Z5</td>
		  <td>Z6</td>
		  <td>Z7</td>
		  <td>Z8</td>
		  <td>Z9</td>
		  <td>Z10</td>
		  </tr>
		  <tr>
		  <td><INPUT TYPE="text" NAME="z1" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z2" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z3" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z4" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z5" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z6" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z7" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z8" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z9" size="1"></td>
		  <td><INPUT TYPE="text" NAME="z10" size="1"></td>
		  </tr>
		</TABLE>
		<P><INPUT TYPE="submit" VALUE="Drukuj" NAME="B1"></P>
		</FORM>
</body>
</html>